body {
	background-color: #f6f6f6;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.app__left {
	flex: 0.8;
}

.app__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.app__dropdown {
	width: 20%;
	background-color: white;
}

.app__cards {
	display: flex;
	justify-content: space-between;
}

.app__right {
	display: flex;
	width: 20%;
	flex-direction: column;
}

.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.app__chart {
	flex-grow: 1;
	height: 10px;
}

.app_graphTitle {
	margin-top: 20px;
	margin-bottom: 20px;
}

.app__chartTitle {
	margin-top: 20px;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
}
